/* UTILITIES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

/* NAVBAR STYLING STARTS */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #005207;
  color: #FFFDD0;
}
.navlink a {
  color: #FFFDD0;
}
.navlink a:visited {
  color: #FFFDD0;
}
/* LOGO */
.logo {
  font-size: 30px;
}
/* NAVBAR MENU */
.menu {
  display: flex;
  gap: 1em;
  font-size: 30px;
}
.menu li:hover {
  background-color: #013606;
  border-radius: 5px;
  transition: 0.3s ease;
}
.menu li {
  padding: 5px 14px;
}

/* MAIN */
.text-body {
  margin: 30px;
  font-size: 20px;
  line-height: 1.5;
}
h1 {
  margin-top: 10px;
  margin-bottom: 10px;
}
h3 {
  margin-top: 10px;
}

/*Suhas Stampede*/
body { padding: 0; margin: 0 }
/* #unity-container { position: absolute } */
/* #unity-container.unity-desktop { left: 50%; top: 50%; transform: translate(-50%, -50%) } */
#unity-container.unity-mobile { width: 100%; height: 100% }
#unity-canvas { background: #231F20 }
.unity-mobile #unity-canvas { width: 100%; height: 100% }
#unity-loading-bar { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); display: none }
#unity-logo { width: 154px; height: 130px; background: url('unity-logo-dark.png') no-repeat center }
#unity-progress-bar-empty { width: 141px; height: 18px; margin-top: 10px; background: url('progress-bar-empty-dark.png') no-repeat center }
#unity-progress-bar-full { width: 0%; height: 18px; margin-top: 10px; background: url('progress-bar-full-dark.png') no-repeat center }
#unity-footer { position: relative }
.unity-mobile #unity-footer { display: none }
#unity-webgl-logo { float:left; width: 204px; height: 38px; background: url('webgl-logo.png') no-repeat center }
#unity-build-title { float: right; margin-right: 10px; line-height: 38px; font-family: arial; font-size: 18px }
#unity-fullscreen-button { float: right; width: 38px; height: 38px; background: url('fullscreen-button.png') no-repeat center }
#unity-warning { position: absolute; left: 50%; top: 5%; transform: translate(-50%); background: white; padding: 10px; display: none }




/* TicTacToe */

* {
  box-sizing: border-box;
}
#app {
  border: 1px solid black;
  width: 1000px;
  height: 1000px;
  font-family: sans-serif;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  background: #222;
}

.header > * {
  color: #eeeeee;
}

.header__turn {
  padding: 12px;
}

.header__status {
  padding: 12px;
  flex-grow: 1;
  text-align: center;
}

.header__restart {
  font-weight: bold;
  font-family: sans-serif;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 12px;
  background: none;
  cursor: pointer;
}

.board {
  display: grid;
  background: #cccccc;
  gap: 20px;
  padding: 10px;
  flex-grow: 1;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 2fr); 
}

.small__board {
  display: grid;
  background: #ddd;
  gap: 5px;
  flex-grow: 1;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 2fr); 
}

.board__tile {
  background: #ffffff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  font-family: sans-serif;
  color: #000;
}
.board__tile:hover {
  background: #eeeeee;
}
.board__tile--winner {
  color: green;
}

.small__board--current {
  background-color: #e5c636;
}

.small__board--xWin {
  background-color: red;
}
.small__board--oWin {
  background-color: blue;
}
.small__board--tie {
  background-color: purple;
}

