img {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}
#left_column{
	float: left;
	display: table-cell;
	width: 300px;
	height: 100%;
}

.flexbox {
  height: 100%;
  display: flex;
}

h1{
	text-align: center;
}
body {
	background-color: #36393E;
	color: #cccccc;
	font-family: Arial, Helvetica, sans-serif

}
a:link{
	color: #000000;
}
a:visited{
	color: white;
}

