@import "tailwindcss"; /* index named as _index to keep this import at top of main.css*/

:root {
    --font-heading: 'Geist', sans-serif;
    --font-body: 'Inter', sans-serif;

	--black: #000000;
	--background: #FBFAFA;
	--primary: #F4D35E;
	--secondary: #738E3D;
	--accent: #A9231A;

	--common-width: calc(100% - 2rem);
    --border-width: 3px;

    --common-border-radius: 2rem;
    --small-border-radius: 2rem;
}

@layer base {
     *, *::before, *::after {
        box-sizing: border-box;
        font-synthesis: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    h1, h2, h3, h4 {
        font-family: var(--font-heading);
    }

    h5, h6, p, a, button {
        font-family: var(--font-body);
    }

    h1 {
        font-size: 3.14rem;
        line-height: 1.1;
    }
    h2 {
        font-size: 2.2rem;
        line-height: 1.2;
    }
    h3 {
        font-size: 1.6rem;
    }
    h4 {
        font-size: 0.8rem;
    }
	h5 {
        font-size: 1.6rem;
    }
    p, button {
        font-size: 1.2rem;
    }

    @media (max-width: 475px) {
        h1 {
            font-size: 4.75rem;
            line-height: 1.1;
        }
        h2 {
            font-size: 3.75rem;
            line-height: 1.2;
        }
        h3 {
            font-size: 2rem;
        }
        h4 {
            font-size: 1rem;
        }
        p {
            font-size: 1.2rem;
        }
    }

}

html {
    font-size: 16px;
}

@media (max-width: 1280px) {
    html {
        font-size: 15px
    }
}


@media (max-width: 1024px) {
    html {
        font-size: 14px
    }
}

@media (max-width: 600px) {
    html {
        font-size: 12px
    }
}

@media (max-width: 475px) {
    html {
        font-size: 10px;
    }
}