:root {
  font-size: 3.33vw;
  --black: #000000;
  --background: #FBFAFA;
  --primary: #F4D35E;
  --secondary: #F95738;
  --accent: #0D3B66;
}

h1 {
  font-family: 'Geist';
  font-weight: 600;
  font-size: clamp(0.7575rem, 2.75vw, 1.515rem);
}

h2 {
  font-family: 'Geist';
  font-weight: 400;
  font-size: clamp(0.5rem, 1.5vw, 1rem);
}

h3 {
  font-family: 'Geist';
  font-weight: 400;
  font-size: clamp(0.5rem, 1vw, 1rem);
}

h4 {
  font-family: 'Geist';
  font-weight: 400;
  font-size: clamp(0.2825rem, 1vw, 0.565rem);
}

p {
  font-family: 'Inter';
  font-weight: 400;
  font-size: clamp(0.25rem, 1.625vw, 0.5rem);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background);
  overflow-x: hidden;
}