.cursor {
    width: 1vw;
    height: 1vw;

    background-color: rgb(173, 56, 58);
    border-radius: 100%;

    position: fixed;
    top: 0;
    left: 0;

    z-index: 999;
    pointer-events: none;

}